*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.body{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.container{
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 20px auto;
  max-width: 550px;
  background: rgb(52, 116, 255);
  padding: 50px;
  font-weight: bolder;
  border-radius: 10px;
  color: aliceblue;
}

.balance{
  margin-top: 20px;
}

.incexp{
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inc,
.exp{
  margin: 20px auto;
  background: white;
  width: 100%;
  border: 1px solid rgb(52, 116, 255);
  border-radius: 8px;
  padding: 10px;
  color: rgb(52, 116, 255);
}

#money-plus{
  color: rgb(66, 161, 44);
}
#money-minus{
  color: rgb(255, 78, 78);
}

.transition-list h3{
  margin-top: 20px;
  justify-content: left;
  align-items: start;
  text-align: left;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}

.minus{
  display: flex;
  background: white;
  color:rgb(52, 116, 255) ;
  padding: 10px;
  margin: 20px auto;
  border-right: 10px solid rgb(128, 0, 0);
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}
.plus{
  display: flex;
  background: white;
  color:rgb(52, 116, 255) ;
  padding: 10px;
  margin: 20px auto;
  border-right: 10px solid rgb(0, 128, 6);
  justify-content: space-between;
  border-radius: 10px;
  position: relative;
}

.transaction h3{
  margin-top: 60px;
  justify-content: left;
  align-items: start;
  text-align: left;
  border-bottom: 1px solid white;
  padding-bottom: 20px;
}
.transaction p{
  margin-top: 20px;
  text-align: left;
}
.transaction input{
  width: 100%;
  padding: 10px;
  margin-top: 15px;
  border-radius: 10px;
  outline: none;
  border: none;
}
.transaction button{
  margin-top: 40px;
  width: 100%;
  background: aliceblue;
  color: rgb(52, 116, 255);
  padding: 12px;
  font-weight: bold;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.transaction button:hover{
  background: rgb(255, 100, 77);
  color:aliceblue;
  transition: .5s;
}

.delete-btn{
  cursor: pointer;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  align-items: center;
  top: 50%;
  transform: translate(-100%,-50%);
  margin-left: -15px;
  margin-top: 1px;
  padding:12px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  outline: none;
  background: rgb(255, 139, 77);
  opacity: 0;
  transition: 0.4s;
}
.delete-btn:hover{
  opacity: 1;
  transition: 0.4s;
}